* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
}

html {
  scroll-behavior: smooth;
  background: linear-gradient(135deg, #bfdff0, #c2edce);
}

body {
  position: relative;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h3,
h2 {
  font-size: 2em;
  font-family: "Playfair Display", serif;
}

p {
  font-size: 1em;
  margin-top: 5px;
  font-family: "javanese text", sans-serif;
}

ul {
  padding-left: 20px;
}

li {
  font-size: 1em;
  font-family: "javanese text", sans-serif;
}

button {
  background-color: #eef5ff;
  border-color: #81aed3;
  padding: 5px 5px;
  border-radius: 8px;
  font-family: "Playfair Display", serif;
  transition: background-color 0.3s;
  padding: 10px 10px;
  border-radius: 17px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd9e6;
}

.account {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef5ff;
  border-color: #374e80;
  flex: 3 0 500px;
  flex-direction: column;
  margin: 5px 20px;
  padding: 15px;
  border-style: solid;
  border-width: 5px;
}

#accountImage {
  display: flex;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 2%;
  right: 3%;
  border-radius: 70%;
  overflow: hidden;
  border: 5px solid #374e80;
  cursor: pointer;
}

#shoppingCart {
  display: flex;
  position: absolute;
  width: 75px;
  height: 75px;
  top: 10%;
  right: 3%;
  border-radius: 70%;
  overflow: hidden;
  border: 5px solid #374e80;
  cursor: pointer;
}

.form {
  background-color: #eef5ff;
  border-color: #374e80;
  margin: 5px 20px;
  padding: 15px;
  border-style: solid;
  border-width: 5px;
  text-align: center;
}

.finalLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eef5ff;
  border-color: #374e80;
  flex: 3 0 500px;
  display: flex;
  flex-direction: column;
  margin: 5px 20px;
  padding: 15px;
  border-style: solid;
  border-width: 5px;
}

#logo {
  display: flex;
  position: absolute;
  width: 300px;
  height: auto;
  top: 0;
  left: 0;
}

.header {
  display: flex; /* Use flexbox to create a flexible container */
  align-items: center; /* Center items vertically within the container */
  justify-content: center;
}

.underLogo {
  text-align: center;
  font-size: 27px;
  margin-top: 10px;
  margin-bottom: 0px;
}

#details {
  text-align: center;
  font-size: 50px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 30px;
}

#loginForm {
  min-width: 500px;
}

#placeholder {
  opacity: 0;
}